<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sprinkles</title>
  </head>
  <body style="text-align: center">
    <h1>Sprinkles</h1>

    <br>
    <h1>Hello <%= user %></h1>

    <p style="font-size: large;"><a href="/logout">Logout</a></p>
  </body>
</html>
