<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sprinkles</title>
  </head>
  <body style="text-align: center">
    <h1>Sprinkles</h1>

    <form action="/" method="POST" onsubmit="return validateLogin()">
      <input
        type="text"
        placeholder="Name"
        id="fullname"
        style="font-size: x-large; padding:10px;"
      /> <br><br>
      <input
        type="password"
        placeholder="Password"
        id="fullname"
        style="font-size: x-large; padding:10px;"
      /> <br><br>
      <button type="submit" style="padding: 10px; font-size:larger">Login</button>
    </form>
  </body>
</html>
