<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/doughnut_1f369.png">
    <title>Sprinkles</title>
  </head> 
  <body style="padding:20px;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/">
          <img src="https://i.imgur.com/IquhhWY.png" style="width: 400px; height:auto;">
        </a>
  
      </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger is-large" href="/"> 
                <strong>Home</strong>
              </a>
              <a class="button is-light is-large" href='/signup'>
                Sign up
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <br>
    <section class="hero" style="width: 60%; margin-left:auto; margin-right:auto; border:2px; border-style:solid; border-color:#333; border-radius:10px;">
      <div class="hero-body">
        <div class="container has-text-centered">
            <div style="text-align: center; ">
              <h1 class="subtitle is-2">Log in</h1>
              
              <ul style="list-style-type: none;">
                <% if(messages.success_message) { %>
                  <li><%= messages.success_message %></li>
                <% } %>
              </ul>
          
              <ul style="list-style-type: none;">
                  <% if(messages.error){ %>
                      <li><%= messages.error %></li>
                  <% } %>
              </ul>
          
              <form action="/login" method="POST">
                <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  id="email"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <button class="button is-light" type="submit" value='login' style="padding: 10px; margin:10px; font-size:larger">Login</button>
              </form>
           <br>
              <p style="font-size: large;"><a href="/signup">Don't have an account? Sign up here</a></p>
             
          </div>
        </div>
      </div>
    </section>


    
  </body>

  
</html>
