<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to your admin account</h1>
    <br>
    
    <ul style="list-style-type: none;">
        <% if(typeof(errors) != 'undefined') { %>
            <% errors.forEach(error=>{ %>
                <li> <%= error.message %></li>
            <% }) %>
        <% } %>
    </ul>

    <ul style="list-style-type: none;">
        <% if(messages.success_message) { %>
          <li><%= messages.success_message %></li>
        <% } %>
    </ul>


    <form action="/dashboard/createpost" method="POST">
        <input
            type="text"
            placeholder="Name"
            id="name"
            name="name"
            style="font-size: x-large; padding:10px;"
            required
        /> <br><br>
        <input
            type="text"
            placeholder="Description"
            id="desc"
            name="description"
            style="font-size: x-large; padding:10px;"
            required
        /> <br><br>
        <input
            type="number"
            step="0.01"
            placeholder="Price"
            id="price"
            name="price"
            style="font-size: x-large; padding:10px;"
            required
      /> <br><br>
      <select name="category" id="category" style="font-size: x-large; padding:10px;">
        <option value="cookie">Cookie</option>
        <option value="pastry">Pastry</option>
        <option value="cake">Cake</option>
      </select> <br><br>
      <button type="submit" value='add' style="padding: 10px; font-size:larger">Add product</button>
    </form>
</body>
</html>