<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/doughnut_1f369.png">
    <title>Sprinkles</title>
  </head>
  <body style="padding:20px;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/">
          <img src="https://i.imgur.com/IquhhWY.png" style="width: 400px; height:auto;">
         </a> 
  
      </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger is-large" href="/"> 
                <strong>Home</strong>
              </a>
              <a class="button is-light is-large" href='/login'>
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

  <br>
    <section class="hero" style="width: 60%; margin-left:auto; margin-right:auto; border:2px; border-style:solid; border-color:#333; border-radius:10px;">
      <div class="hero-body">
        <div class="container has-text-centered">
            <div style="text-align: center; ">
              <h1 class="subtitle is-2">Create your account</h1>

              <ul style="list-style-type: none;">
                  <% if(typeof(errors) != 'undefined') { %>
                      <% errors.forEach(error=>{ %>
                          <li> <%= error.message %></li>
                      <% }) %>
                  <% } %>
              </ul>

              <form action="/signup" method="POST">
                <input
                  type="text"
                  placeholder="Name"
                  id="fullname"
                  name="name"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <select name="address" id="address" style="font-size: x-large; width:325px; margin:5px; padding:10px;">
                  <option selected disabled>Choose your place</option>
                  <option value="indiranagar">Indiranagar</option>
                  <option value="koramangala">Koramangala</option>
                  <option value="jayanagar">Jayanagar</option>
              </select> <br>
                <input
                  type="email"
                  placeholder="Email"
                  id="email"
                  name="email"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <input
                  type="password"
                  placeholder="Confirm password"
                  id="password2"
                  name="password2"
                  style="font-size: x-large; padding:10px; margin:5px;"
                  required
                /> <br>
                <select name="type" id="type" style="font-size: x-large; width:325px; padding:10px; margin:5px;" required>
                  <option selected disabled>Choose account type</option>
                    <option value="1">Customer</option>
                    <option value="2">Delivery</option>
                    <option value="3">Root</option>
                </select> <br> 
                <button class="button is-light" type="submit" value='register' style="padding: 10px; font-size:larger; margin:10px;">Sign Up</button>

              </form>
              <br>
              <p style="font-size: large;"><a href="/login">Already registered? Log in here</a></p>
          </div>
        </div>
      </div>
    </section>

    
  </body>
</html>
